<!--Akshit Narang, #301177669, COMP 229, Section 008-->
<footer style="background-color:azure; position: absolute;  padding: 5px 0;">
  
  <hr>
<style>
  .hello {
    font-family: courier;
    color: black;
    position: fixed;
    
    
  }
  .contact {
    width: 250px;
    height: 5px;
    float: right;
    margin-bottom: 0%;
    margin-right: 0%;
    
  }
</style>

  

  <div class = "contact">
    
      
 
    
    <div class="container-fluid">
    <div class="row" >
    <div class="col-2"><a class="link" href="https://www.facebook.com/"><i style="color: #4267B2;" class="fab fa-facebook fa-2x"></i></a></div>  &nbsp;  
    <div class="col-2"><a class="link" href="https://www.youtube.com/"><i style="color: red;" class="fab fa-youtube fa-2x"></i></a></div>  &nbsp;  &nbsp; 
    <div class="col-2"><a class="link" href="https://www.instagram.com/"><i style="color: pink;" class="fab fa-instagram fa-2x"></i></a></div>  &nbsp; 
    <div class="col-2"><a class="link" href="https://web.whatsapp.com//"><i style="color: green;" class="fab fa-whatsapp fa-2x"></i></a></div>  &nbsp; 
    </div>
   
  
  
    </div>

  </div>
  <p class ="hello">&copy; Group 3 COMP229 Web Application Development (SEC. 008) <br>
     Contact webmaster for more information.</p>

    

    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
  </body>

</html>
</footer> 