<!--Akshit Narang, #301177669, COMP 229, Section 008-->

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- StyleSheets -->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel='stylesheet' href='/Content/app.css' />
  </head>

  <body>
    
    

    <main>
        <div class="jumbotron">
          <h2 style= "color: black; font-family :'Courier New', Courier, monospace "><b>Welcome to our <%= title %> page!</h3>