<!-- Bohyun Kim, #301131832, COMP 229, Section 008 -->
<!-- Diego Poblete #301158204, COMP 229, Section 008 -->
<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>
<style>
  .h5{
      color:black;
      font-family: Century Gothic, sans-serif;
      font-size: 20px;
  }
  .wrap{
      
      font-family: Century Gothic, sans-serif;
      font-size: 20px;
      color:black;
  }  

  .wrap1 {
  width: 100%;
  height: 100%;
  
  
  background: rgba(0, 0, 0, 0.1);
}






/* CSS */
.button-51 {
  background-color: transparent;
  border: 1px solid #266DB6;
  box-sizing: border-box;
  color: #00132C;
  font-family: "Avenir Next LT W01 Bold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-51:hover,
.button-51:active {
  outline: 0;
}

.button-51:hover {
  background-color: transparent;
  cursor: pointer;
}

.button-51:before {
  background-color: #D5EDF6;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.button-51:hover:before {
  background-color: #6DCFF6;
}

@media (min-width: 768px) {
  .button-51 {
    padding: 16px 32px;
  }
}
</style>
<div class="wrap1">
    <div class="offset-md-4 col-md-4">
        <div class="title text-center my-5">
            <body style="background-color: azure;"></body>
           <h1 style="color: black; font-family :Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">Create Survey!</h1>
        </div>
     
        <form method="POST" autocomplete="off">

            <fieldset class="form-group my-3">
                <label for="surveyTitle" class="h5">The title of survey</label>
                <input type="text" class="form-control"
                name="surveTitle" placeholder="Enter the title of survey"
                id="surveyTitle" required value="<% survey.title %>">
            </fieldset>
            
            <fieldset class="form-group my-3">
                <label for="startDate" class="col-form-label">Start Date</label>
                <div class="col-5">
                  <input type="date" class="form-control"
                  id="startDate"
                  value= "<% survey.startDate %>"
                  name="startDate">
                </div>

                <label for="endDate" class="col-form-label">End Date</label>
                <div class="col-5">
                  <input type="date" class="form-control"
                  id="endDate"
                  value= "<% survey.endDate %>"
                  name="endDate">
                </div>
            </fieldset>

            <div class="wrap">
                <h5 style="color: black;">Description</h5>
            </div>

            <fieldset class="form-group my-3">
                <textarea id="description" name="description" rows="4" cols="55"><% survey.description %></textarea>
            </fieldset>

            <div id="questionHolder">
                <!-- Here goes the questions -->
            </div>

            <button class="button-51" role="button" onclick="createQuestion()" value="New Question">New Question</button>


            <fieldset class="form-group text-center my-5">
                <input type="submit" class="btn btn-primary mx-3" value="Create">
                <a href="/survey-list">
                    <input type="button" class="btn btn-secondary mx-3" value="Cancel">
                </a>
            </fieldset>

        </form>
    </div>
</div>

<script src="/Scripts/survey.js"></script>

<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>